@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col col-1">
        
    </div>
    <div class="col">
        <h3>Contacts</h3>
    </div>
       <a class="btn btn-secondary" href="Home/AddContact">Add Contact</a>
</div>

<table class="table">
    <thead class="thead-light">
        <tr>

            <th scope="col">#</th>
            <th scope="col" hidden="hidden">Id</th>
            <th scope="col">Name</th>
            <th scope="col">MobilePhone</th>
            <th scope="col">JobTitle</th>
            <th scope="col">BirthDate</th>
            <th></th>

        </tr>
    </thead>
    <tbody>

        @foreach (Contact contact in Model)
    {
        <tr>
            <th scope="row"></th>
            <td hidden="hidden">@contact.Id</td>
            <td>@contact.Name</td>
            <td>@contact.MobilePhone</td>
            <td>@contact.JobTitle</td>
            @if (contact.BirthDate.ToShortDateString() != "01.01.0001")
                {
                    <td>@contact.BirthDate.ToShortDateString()</td>
                }
            else
                {

                    <td></td>
                }
            <td>
                <a href="#">Delete</a>
                <a href="#">Edit</a>
            </td>

        </tr>

}
        @*<tr>
            <th scope="row">1</th>
            <td hidden="hidden">Id</td>
            <td>Name</td>
            <td>MobilePhone</td>
            <td>JobTitle</td>
            <td>BirthDate</td>
            <td>
                <a href="#">Delete</a>
                <a href="#">Edit</a>
            </td>

        </tr>*@


    </tbody>
</table>

@*
    <div class="table">

        <div class="row">
            <div class="border-top-0">#</div>
            <div>Id</div>
            <div>Name</div>
            <div>MobilePhone</div>
            <div>JobTitle</div>
            <div>BirthDate</div>
        </div>

        <div class="row">
            <div class="row" data-toggle="collapse" data-target="#collapseExample">
                <div>1</div>
                <div>Id</div>
                <div>Name</div>
                <div>MobilePhone</div>
                <div>JobTitle</div>
                <div>BirthDate</div>
            </div>

        </div>
    </div>*@