@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col col-4">
        
    </div>
    <div class="col">
        <h3>Contacts List</h3>
    </div>
    
</div>
<div class="row">
   
    <div class="col">
        <a class="btn btn-secondary" href="Home/AddContact">Add Contact</a>
    </div>
   
</div>
<table class="table">
    <thead class="thead-light">
        <tr>

           
            <th scope="col" hidden="hidden">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Mobile Phone</th>
            <th scope="col">Job Title</th>
            <th scope="col">Birth Date</th>
            <th></th>

        </tr>
    </thead>
    <tbody>

        @foreach (Contact contact in Model)
    {
        <tr>
          
            <td hidden="hidden">@contact.Id</td>
            <td>@contact.Name</td>
            <td>@contact.MobilePhone</td>
            <td>@contact.JobTitle</td>
            @if (contact.BirthDate.ToShortDateString() != "01.01.0001")
                {
                    <td>@contact.BirthDate.ToShortDateString()</td>
                }
            else
                {

                    <td></td>
                }
            <td>
                
                <a href="/Home/EditContact/@contact.Id">Edit</a>
                <a href="/Home/DeleteContact/@contact.Id">Delete</a>
            </td>

        </tr>

}
   


    </tbody>
</table>

